body {
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    
    display: grid;
    grid-template-columns: 6em 81em;
    grid-template-rows: 7em 41em;
    grid-template-areas: 
    "header header"
    "sidebar main";
    background-color: whitesmoke;
    width: 87em
}

.header {
    grid-area: header;
    background-color: lightpink;
}

h1 {
    grid-area: header;
    align-self: center;
    justify-self: left;
    padding-left: 1em;
    color: salmon;
    text-shadow: 2px 2px 4px white;
    text-align: center;
}

.sidebar {
    background-color: lightskyblue;
    grid-area: sidebar;    
}

.sidebar-container{
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 7em);
    align-self: center;   
}

.memotest-container{
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(4, 20em);
    grid-template-rows: repeat(4, 10em);
    justify-content: space-evenly;
    align-content: space-evenly;

}

img {
    width: 20em;
    height: 10em;
}

.bloquear-mouse {
    pointer-events: none
}

.dificultad {
    grid-area: main;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
    "texto"
    "input";
    justify-content: center;
    align-content: center;
}


.oculto {
    display: none;
    grid-area: main;
}

.hidden {
    visibility: hidden;
}

.dificultad > div {
    grid-area: texto;
    justify-self: center;
    align-self: flex-end;
}

#selector-dificultad {
    grid-area: input;
}

span {
    font-size: xx-large;
}

input[type = text]{
    grid-area: input;
    border: none;
    border-bottom: 2px solid palevioletred;
    background-color: transparent;
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
    margin-top: 0.75em;
}

input[type = text]:focus{
    outline: none;
}